.border-radius-4px{
  border-radius: 4px;
}
.border-radius-6px{
  border-radius: 6px;
}
.border-radius-8px{
  border-radius: 8px;
}
.border-radius-20px{
  border-radius: 20px;
}
.bt-1px{
  border-top: 1px solid var(--gray-1);
}

.box-shadow-small{
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 10%);
}

