.flex{
  display: flex;
}
.flex-column{
  flex-direction: column;
}
.flex-1{
  flex: 1;
}
.justify-space-between{
  justify-content: space-between;
}
.justify-center{
  justify-content: center;
}
.justify-start{
  justify-content: flex-start;
}
.justify-end{
  justify-content: flex-end;
}
.justify-self-end{
  margin-left: auto;
}
.align-center{
  align-items: center;
}
.align-self-start{
  align-self: flex-start;
}
