.padding-10px{
  padding: 10px;
}
.padding-20px{
  padding: 20px;
}
.padding-2px{
  padding: 2px;
}
.pl-10px{
  padding-left: 10px;
}
.pl-20px{
  padding-left: 20px;
}
.pr-10px{
  padding-right: 10px;
}
.pb-16px{
  padding-bottom: 16px;
}
.pt-20px{
  padding-top: 20px;
}
.pb-20px{
  padding-bottom: 20px;
}
.pb-10px{
  padding-bottom: 10px;
}
.plr-20px{
  padding: 0 20px;
}
.ptb-10px{
  padding: 10px 0;
}
.pr-24px{
  padding-right: 24px;
}
